{
    "Name":                         "{{ azure_cloud }}",
    "ManagementPortalURL":          "{{ azure_custom_endpoints.management_portal }}",
    "PublishSettingsURL":           "{{ azure_custom_endpoints.publish_settings }}",
    "ServiceManagementEndpoint":    "{{ azure_custom_endpoints.service_management }}",
    "ResourceManagerEndpoint":      "{{ azure_custom_endpoints.resource_manager }}",
    "ActiveDirectoryEndpoint":      "{{ azure_custom_endpoints.active_directory }}",
    "GalleryEndpoint":              "{{ azure_custom_endpoints.gallery }}",
    "KeyVaultEndpoint":             "{{ azure_custom_endpoints.keyvault }}",
    "GraphEndpoint":                "{{ azure_custom_endpoints.graph }}",
    "ServiceBusEndpoint":           "{{ azure_custom_endpoints.service_bus }}",
    "BatchManagementEndpoint":      "{{ azure_custom_endpoints.batch_management }}",
    "StorageEndpointSuffix":        "{{ azure_custom_endpoints.storage_suffix }}",
    "SQLDatabaseDNSSuffix":         "{{ azure_custom_endpoints.sql_database_dns_suffix }}",
    "TrafficManagerDNSSuffix":      "{{ azure_custom_endpoints.traffic_manager_dns_suffix }}",
    "KeyVaultDNSSuffix":            "{{ azure_custom_endpoints.key_vault_dns_suffix }}",
    "ServiceBusEndpointSuffix":     "{{ azure_custom_endpoints.service_bus_suffix }}",
    "ServiceManagementVMDNSSuffix": "{{ azure_custom_endpoints.service_management_vmdns_suffix }}",
    "ResourceManagerVMDNSSuffix":   "{{ azure_custom_endpoints.resource_manager_vmdns_suffix }}",
    "ContainerRegistryDNSSuffix":   "{{ azure_custom_endpoints.container_registry_vmdns_suffix }}"
}